<div class="p-5">
  <app-car-details></app-car-details>
  <app-car-profile></app-car-profile>
  <div class="inquery-and-review mt-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <app-car-inquiry template="stund"></app-car-inquiry>
        </div>
        <div class="col-sm-12 col-md-6">
          <app-car-inquiry template="schuler"></app-car-inquiry>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <app-car-inquiry template="Kalender"></app-car-inquiry>
        </div>
        <div class="col-sm-12 col-md-6">
          <app-car-inquiry template="schritt"></app-car-inquiry>
        </div>
      </div>
    </div>
  </div>
</div>